# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# RAG DB
rag/faiss_index/
rag/uploads/temp_*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
